<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Favorites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TransLock.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A42689E31D0B058B00D430F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A467908D1D669FAA00D1D9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4D83F3F1CFD2E7500FF6015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4D83F581CFD2E7500FF6015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4D83F631CFD2E7500FF6015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
